<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="app.memo.mapper.MemoMapper">

    <resultMap id="memoResultMap" type="app.memo.entity.MemoEntity">
        <constructor>
            <idArg column="id" javaType="_int"/>
            <arg column="content" javaType="java.lang.String"/>
        </constructor>
    </resultMap>

    <select id="findAll" resultMap="memoResultMap">
        SELECT
            id,
            content
        FROM memos
        ORDER BY created_at DESC, id DESC
    </select>

    <select id="findById" parameterType="_int" resultMap="memoResultMap">
        SELECT
            id,
            content
        FROM memos
        WHERE id = #{id}
    </select>

    <insert id="insert">
        INSERT INTO memos (
            content
        ) VALUES (
            #{content,jdbcType=VARCHAR}
        )
    </insert>

    <update id="update">
        UPDATE memos
        SET
            content = #{content,jdbcType=VARCHAR}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="_int">
        DELETE FROM memos
        WHERE id = #{id}
    </delete>

</mapper>
